* {
  font-family: "Manrope", sans-serif;
}

.white_font {
  color: #ffffff;
  font-size: 18px;
}

.blue_font {
  color: #37507a;
  font-size: 14px;
}

.white_background {
  background-color: #ffffff;
}

.section_headings {
  font-size: 25px;
}

.default_background_image_css {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.header_background_image {
  background-image: url("../images/header_image.png");
}

.heading {
  text-align: center;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
}

.quotes_and_message {
  background-color: #37507a;
}

.quote {
  font-style: italic;
  text-align: left;
  font-weight: 250;
}

.quote_author {
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
}

.message_heading {
  font-weight: bold;
  font-weight: 500;
}

.message {
  font-size: 14px;
}

.questions {
}

.grey_image {
  background-image: url("../images/grey_background.png"), url("../images/tyre_marks.png");
}

.company_logos {
  display: flex;
  justify-content: center;
}

.heartcore_logo {
  border-right: 1px solid black;
}

.heartcore_logo,
.sigmaways_logo {
  width: auto;
  height: auto;
  padding: 20px;
}

.about_us {
  text-align: justify;
}

.bullets_heading {
  font-size: 18px;
}

.book_conulting {
  background-image: url("../images/book_consulting_image.png");
  height: auto;
}

.form-control,
.submit_button {
  border-radius: 0;
}

.submit_button {
  border: 1px solid #ffffff;
}

.ceo_quote {
  background-image: url("../images/ceo_image.png");
}

.company_url {
  font-size: 16px;
}

