@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

.white_font{
  color: #FFFFFF;
  font-size: 18px;
}

.blue_font {
  color: #37507A;
  font-size: 14px;
}

.white_background {
  background-color: #FFFFFF;
}

.section_headings {
  font-size: 25px;
}

.header_background_image {
  background-image: url("../images/header_image.png");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading {
  text-align: center;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600; 
}

.quotes_and_message {
  background-color: #37507A;
}


.quote {
  font-style: italic;
  text-align: left;
  font-weight: 250;
}

.quote_author {
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
}

.message_heading {
  text-align: left;
  font-weight: bold;
  font-weight: 500;
}

.message {
  font-size: 14px;
  text-align: justify;
}

.investor_ready {
}

.investor_ready_message {
}

.questions {
}

.grey_image {
}

.company_logos{
  display: flex;
  justify-content: center;
}

.heartcore_logo {
  border-right: 1px solid black;
}

.heartcore_logo, .sigmaways_logo{
  width: auto;
  height: auto;
  padding: 20px;
}

